@font-face{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    
}
@font-face{
    
}
body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(170, 170, 170);   
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
nav ul{

    padding: 0;
    margin: 0;
}
nav ul li{
    color: black;
    list-style-type: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li a{
    color: black;
    display: inline-block;
    padding: 10px 10px;
    overflow: visible;
    text-decoration: none;
    height: 100%;
    margin: 0;
}
nav ul li a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
main{
    padding: 0;
    margin: 40px 10% 0;
    position: static;
}
section{
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}
div{
    margin: 5px;
}
.color-block{
    display: inline-block;
    width: 200px;
    height: 200px;
}
.color-block p {
    text-align: center;
}
.dark-back{
    color: white;
}
.light-back{
    color: black;
}
.light-foreground-color-1{
    background-color: rgb(16, 2, 95);
}
.light-foreground-color-2{
    background-color: rgb(32, 10, 53);
}
.light-background-color-1{
    background-color: rgb(182, 205, 231);
}
.light-background-color-2{
    background-color: rgb(235, 179, 230);
}
.fonts-1{
    font-family: 'Source Code Pro', monospace;
    float: left;
}
.fonts-2{
    
}
